---
import Pin from './Pin.astro';
import { Image } from 'astro:assets';
const { data } = Astro.props;

function getFormattedDate(date) {
  return date.toLocaleDateString(undefined, {
    year: 'numeric',
    month: 'short',
  });
}

function getFormattedDateRange(start, end) {
  if (!end || end.toDateString() === new Date().toDateString()) {
    return `${getFormattedDate(start)} - Present`;
  }
  return `${getFormattedDate(start)} - ${getFormattedDate(end)}`;
}
---
<style>
  .entry-container {
    display: flex;
    align-items: start;
    margin-bottom: 16px;
  }
  section {
    margin-left: 16px;
  }
  .with-logo {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 8px;
  }
  .with-logo img {
    width: 64px;
    height: 64px;
    border-radius: 4px;
  }
  .timepoint {
    flex-shrink: 0;
    position: relative;
    width: 16px;
    height: 16px;
    background-color: #ccc;
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%, 50% 50%);
    top: 8px;
  }
  h2, p, ul {
    margin: 0;
  }
  ul {
    margin-top: 8px;
  }
</style>
  <div class="entry-container">
<div class="timepoint">
</div>
<section>
  <div class="with-logo">
    {data.logo ? <Image src={data.logo} alt={data.company} width="64" height="64px" />: ''}
    <div>
      <h2>{data.position}</h2>
      <p>
        <strong>{data.company}</strong> {getFormattedDateRange(data.start, data.end)}<br />
        <Pin /> {data.location}
      </p>
    </div>
  </div>
    <p>{data.description}</p>
    <ul>
      {data.keypoints?.map((point) => (
        <li>{point}</li>
      ))}
    </ul>
</section>
  </div>
