---
interface Props {
  title: string;
  description?: string;
  image?: string;
  fullWidth?: boolean;
  darkMode?: boolean;
}
import { Image } from "astro:assets";
import keyboardImage from "../assets/keyboard.png";

const { title, description, image, fullWidth, darkMode } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="author" content="Clément CHAMPOUILLON" />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <!-- Social media -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    {image && <meta property="og:image" content={image} />}

    <!-- Icons -->
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png" />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/android-icon-192x192.png"
    />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />

    <link rel="manifest" href="/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
    <meta name="theme-color" content="#ffffff" />
    <link rel="canonical" href={canonicalURL} />
    <style is:global>
      :root {
        --linkedin-color: #0077b5;
        --github-color: #333;
      }
      p {
        line-height: 1.6;
      }
      @font-face {
        font-family: "NataSans";
        src: url("/NataSans-Light.ttf") format("truetype");
        font-weight: 200;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: "NataSans";
        src: url("/NataSans-SemiBold.ttf") format("truetype");
        font-weight: 600;
        font-style: normal;
        font-display: swap;
      }
      .no-margin {
        margin: 0;
      }
      a {
        color: inherit;
      }
      figure {
        margin: 16px auto;
        max-width: 100%;
        text-align: center;
      }
      figure img {
        width: 100%;
      }
      h1 {
        line-height: 2rem;
      }
      h1,
      h2 {
        font-family: "NataSans", sans-serif;
        font-weight: 900;
        margin-top: 0;
      }
      pre,
      code {
        border-radius: 4px;
        color: #fafafa;
        background-color: #333;
        padding: 8px 16px;
      }
      code {
        padding: 2px 4px;
      }
      blockquote {
        background-color: #f1f1f1;
        padding: 2px 32px;
        border-radius: 0 16px;
        border-width: 0 0 0 4px;
        border-color: #ddd;
        border-style: solid;
        margin: 0;
      }

      :where([data-astro-image]) {
        object-fit: var(--fit);
        object-position: var(--pos);
      }
      :where([data-astro-image="full-width"]) {
        width: 100%;
      }
      :where([data-astro-image="constrained"]) {
        max-width: 100%;
      }
    </style>
    <style>
      body {
        font-family: Arial, sans-serif;
        transition: background-color 1s ease-in-out;
        margin: 16px;
      }
      body.dark-mode {
        background-color: #121212;
        color: #dedede;
      }
      #content {
        margin: auto;
        margin-top: 32px;
        max-width: 800px;
      }
      footer {
        text-align: center;
        margin-top: 32px;
      }
      header {
        height: 2.4rem;
      }
      header a {
        font-family: "NataSans", sans-serif;
        font-weight: 600;
        font-size: 1.5em;
        margin: 0;
        line-height: 0.6rem;
        text-decoration: none;
        color: inherit;
      }
      header span {
        font-weight: 200;
      }
      .full-width {
        max-width: 100vw !important;
        margin: -16px !important;
      }
    </style>
  </head>
  <body class={darkMode ? "dark-mode" : undefined}>
    <header>
      <a href="/">
        <Image
          src={keyboardImage}
          alt="Keyboard logo"
          style={{
            width: "64px",
          }}
        />
      </a>
    </header>
    <div id="content" class={fullWidth ? "full-width" : undefined}>
      <slot />
    </div>
  </body>
  <footer>
    <p>
      © {new Date().getFullYear()} Clément Champouillon. All rights reserved.
    </p>
    <p>
      <a href="/sitemap-index.xml">Sitemap</a>
    </p>
  </footer>
</html>
